telemetry model-driven
   destination-group DGroup1
    address-family ipv4 1.2.3.4 port 57500
     encoding self-describing-gpb
     protocol grpc no-tls
    !
   !
   sensor-group health
    sensor-path Cisco-IOS-XR-wdsysmon-fd-oper:system-monitoring/cpu-utilization
    sensor-path Cisco-IOS-XR-nto-misc-shmem-oper:memory-summary/nodes/node/summary
    sensor-path Cisco-IOS-XR-shellutil-oper:system-time/uptime
   !
   sensor-group interfaces
    sensor-path Cisco-IOS-XR-infra-statsd-oper:infra-statistics/interfaces/interface/latest/generic-counters
    sensor-path Cisco-IOS-XR-pfi-im-cmd-oper:interfaces/interface-summary
   !
   sensor-group optics
    sensor-path Cisco-IOS-XR-controller-optics-oper:optics-oper/optics-ports/optics-port/optics-info
   !
   sensor-group routing
    sensor-path Cisco-IOS-XR-clns-isis-oper:isis/instances/instance/levels/level/adjacencies/adjacency
    sensor-path Cisco-IOS-XR-clns-isis-oper:isis/instances/instance/statistics-global
    sensor-path Cisco-IOS-XR-ip-rib-ipv4-oper:rib/vrfs/vrf/afs/af/safs/saf/ip-rib-route-table-names/ip-rib-route-table-name/protocol/isis/as/information
    sensor-path Cisco-IOS-XR-ipv4-bgp-oper:bgp/instances/instance/instance-active/default-vrf/process-info
   !
   sensor-group mpls-te
   sensor-path Cisco-IOS-XR-mpls-te-oper:mpls-te/tunnels/summary
   sensor-path Cisco-IOS-XR-ip-rsvp-oper:rsvp/interface-briefs/interface-brief
   sensor-path Cisco-IOS-XR-ip-rsvp-oper:rsvp/counters/interface-messages/interface-message
   !
   subscription health
    sensor-group-id health strict-timer
    sensor-group-id health sample-interval 30000
    destination-id DGroup1
   !
   subscription interfaces
    sensor-group-id interfaces strict-timer
    sensor-group-id interfaces sample-interval 30000
    destination-id DGroup1
   !
   subscription optics
    sensor-group-id optics strict-timer
    sensor-group-id optics sample-interval 30000
    destination-id DGroup1
   !
   subscription routing
    sensor-group-id routing strict-timer
    sensor-group-id routing sample-interval 30000
    destination-id DGroup1
   !
   subscription mpls-te
    sensor-group-id mpls-te strict-timer
    sensor-group-id mpls-te sample-interval 30000
    destination-id DGroup1
